<a href="https://colab.research.google.com/github/mehmetcolgecen/python-addict/blob/main/01_how_to_drop_rows_randomly_basen_on_column_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
np.random.seed(10)

remove_n = 2
df = pd.DataFrame({"a":[1,2,3,4], "b":[5,6,7,8], "c":["Gen","Gen","Gen","not"]})
drop_indices = np.random.choice(df.loc[df["c"]=="Gen"].index, remove_n, replace=False)
df_subset = df.drop(drop_indices)
df_subset

   a  b    c
1  2  6  Gen
3  4  8  not